<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>neČakáreň</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan" rel="stylesheet"> 
    <style>
        body {
            background-color: #f44333;
            color: #f6efff;
            font-family: 'Baloo Chettan', cursive;
            font-size: 7em;
            text-align: center;
        }

        p {
            margin: 0;
        }
    </style>
</head>
<body>
    <div>
        <p>Momenálne čaká</p>
        <p style="font-size: 2em;">{{ users }}</p>
        <p>ľudí</p>
    </div>
</body>
</html>